<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <title>研究室配属システムトップ</title>
</head>
<body>
    <div align=center><h1>教員用ページホーム</h1></div>
    <!-- ログイン中の学生idを表示 -->
    <div align=right>
        <p>学生番号[{{.lab_id}}]でログインしています</p>
        <form action="/logout" method="post">
            <p><input type="submit" value="ログアウト" /></p>
        </form>
    </div>
    <div align= left>
        <h3>{{.lab_id2}}学科を志望する学生一覧</h3>
        <ul>
            {{ range .aspires }}
                <li>学生番号：{{.Student_id}}</li>
                <li>志望理由：{{.Reason}}</li>
                <li>志望度：{{.Rank}}</li>
            {{ end }}
        </ul>
    </div>
</body>
</html>