<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <title>研究室配属システムトップ</title>
</head>
<body>
    <div align=center><h1>学生用ページホーム</h1></div>
    <!-- ログイン中の学生idを表示 -->
    <div align=right>
        <p>学生番号[{{.student_id}}]でログインしています</p>
        <form action="/logout" method="post">
            <p><input type="submit" value="ログアウト" /></p>
        </form>
    </div>
    <div align=left>
        <ul>
            <li><a href="/form">2021年度研究室志望書提出フォーム</a></li>
        </ul>
    </div>
    <div align=left>
        <h3>{{.submit_num}}件の志望書を提出中</h3>
    </div>
    <div align= left>
        <h3>志望書を提出した研究室一覧</h3>
        <ul>
            {{ range .aspires }}
                <li>研究室ID：{{.Lab_id}}</li>
                <li>志望理由：{{.Reason}}</li>
                <li>志望度：{{.Rank}}</li>
            {{ end }}
        </ul>
    </div>
</body>
</html>