<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <title>研究室配属システムトップ</title>
</head>
<body>
    <div align=center><h1>学生用ページホーム</h1></div>
    <!-- ログイン中の学生idを表示 -->
    <div align=right>
        <p>学生番号[{{.student_id}}]でログインしています</p>
        <form action="/logout" method="post">
            <p><input type="submit" value="ログアウト" /></p>
        </form>
    </div>
    <div align=left>
        <ul>
            <li><a href="/form">2021年度</li>
        </ul>
    </div>
</body>
</html>