
<!-- code:web5-1 -->
<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>新規登録ページ</title>
</head>
    <body> 
        <h1>学生新規登録はこちら</h1>
        <div class="input">
            <p>{{.err}}</p>
            <form action="/signup" method="post">
                <p>ユーザー名 :<input type="text" name="student_id" placeholder=""/></p>
                <p>パスワード :<input type="text" name="password" placeholder=""/></p>
                <p>所属コース :<select name="department" size="1" >
                    <option value="network">network</option>
                    <option value="information">information</option>
                    <option value="system">system</option>
                </select></p>
                <p><input type="submit" value="登録" /></p>
            </form>
        </div>
        <h1>研究室新規登録はこちら</h1>
        <div class="input">
            <p>{{.err}}</p>
            <form action="/signup-lab" method="post">
                <p>ユーザー名 :<input type="text" name="lab_id" placeholder=""/></p>
                <p>パスワード :<input type="text" name="password" placeholder=""/></p>
                <p>所属コース :<select name="department" size="1" >
                    <option value="network">network</option>
                    <option value="information">information</option>
                    <option value="system">system</option>
                </select></p>
                <p>受け入れ可能人数 :<input type="number" name="assign_max" placeholder=""/></p>
                <p><input type="submit" value="登録" /></p>
            </form>
        </div>
    </body>
</html>