
<!-- code:web5-1 -->
<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>HTML Form</title>
</head>
    <body> 
        <div class="input">
            <p>{{.err}}</p>
            <form action="/signup" method="post">
                <p>ユーザー名 :<input type="text" name="username" placeholder=""/></p>
                <p>パスワード :<input type="text" name="password" placeholder=""/></p>
                <p><input type="submit" value="登録" /></p>
            </form>
        </div>
    </body>
</html>